<mat-toolbar color="primary">
    <span>
        <a routerLink="/">Todo list</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="user/createList" routerLinkActive="mat-accent">New Notes</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="user/notesList" routerLinkActive="mat-accent">Notes</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="logout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>